
Apps/Apps.resx
Controllers/Account/Account.resx
Core/Resources.resx
Countries/Countries.resx
Exceptions/Exceptions.resx
Exceptions/Exceptions/Exceptions.resx
General/CookieConsent.resx
General/ServerNotifications.resx
Hubs/MessagingHub/MessagingHub.resx
Languages/LanguageLevels.resx
Languages/Languages.resx
LanguagesUI/LanguagesUI.resx
Models/Buttons/Buttons.resx
Models/DateTime/DateTime.resx
Models/Section/Section.resx
Models/Tiles/Tiles.resx
UserData/UserData.resx
ViewModels/Contacts/Contact.resx
ViewModels/HoursBag/HoursBag.resx
ViewModels/Notifications/Notification.resx
ViewModels/VideoChatReport/VideoChatReport.resx
Views/AccountManager/Index.resx
Views/Contact/Contact.resx
Views/Desktop/Index.resx
Views/Feedback/Feedback.resx
Views/Help/Help.resx
Views/HoursBag/HoursBag.resx
Views/Index/Index.resx
Views/Langroulette/Index.resx
Views/Layout/Layout.resx
Views/LoginRegister/LoginRegister.resx
Views/ManageAccount/ManageAccount.resx
Views/MeetupBoard/Index.resx
Views/Messages/Inbox.resx
Views/ProfileApp/Index.resx
Views/Report/Report.resx
Views/RightPanel/RightPanel.resx
Views/VideoChat/Videochat.resx
Views/VisitProfileApp/Profile.resx
