
Apps/Apps.resx
Controllers/Account/Account.resx
Core/Resources.resx
Countries/Countries.resx
Exceptions/Exceptions.resx
Exceptions/Exceptions/Exceptions.resx
General/CookieConsent.resx
General/ServerNotifications.resx
Hubs/MessagingHub/MessagingHub.resx
Languages/LanguageLevels.resx
Languages/Languages.resx
LanguagesUI/LanguagesUI.resx
Models/Buttons/Buttons.resx
Models/DateTime/DateTime.resx
Models/Section/Section.resx
Models/Tiles/Tiles.resx
UserData/UserData.resx
ViewModels/Contacts/Contact.resx
ViewModels/HoursBag/HoursBag.resx
ViewModels/Notifications/Notification.resx
ViewModels/VideoChatReport/VideoChatReport.resx
Views/AccountManager/Index.resx
Views/Contact/Contact.resx
Views/Desktop/Index.resx
Views/Feedback/Feedback.resx
Views/Help/Help.resx
Views/HoursBag/HoursBag.resx
Views/Index/Index.resx
Views/Langroulette/Index.resx
Views/Layout/Layout.resx
Views/LoginRegister/LoginRegister.resx
Views/ManageAccount/ManageAccount.resx
Views/MeetupBoard/Index.resx
Views/Messages/Inbox.resx
Views/ProfileApp/Index.resx
Views/Report/Report.resx
Views/RightPanel/RightPanel.resx
Views/VideoChat/Videochat.resx
Views/VisitProfileApp/Profile.resx
bin/Debug/ca/Resources.resources.dll
bin/Debug/de/Microsoft.Data.Edm.resources.dll
bin/Debug/de/Microsoft.Data.OData.resources.dll
bin/Debug/de/Microsoft.Data.Services.Client.resources.dll
bin/Debug/de/Resources.resources.dll
bin/Debug/de/System.Spatial.resources.dll
bin/Debug/en/Resources.resources.dll
bin/Debug/es/Microsoft.Data.Edm.resources.dll
bin/Debug/es/Microsoft.Data.OData.resources.dll
bin/Debug/es/Microsoft.Data.Services.Client.resources.dll
bin/Debug/es/Resources.resources.dll
bin/Debug/es/System.Spatial.resources.dll
bin/Debug/eu/Resources.resources.dll
bin/Debug/fr/Microsoft.Data.Edm.resources.dll
bin/Debug/fr/Microsoft.Data.OData.resources.dll
bin/Debug/fr/Microsoft.Data.Services.Client.resources.dll
bin/Debug/fr/Resources.resources.dll
bin/Debug/fr/System.Spatial.resources.dll
bin/Debug/it/Microsoft.Data.Edm.resources.dll
bin/Debug/it/Microsoft.Data.OData.resources.dll
bin/Debug/it/Microsoft.Data.Services.Client.resources.dll
bin/Debug/it/Resources.resources.dll
bin/Debug/it/System.Spatial.resources.dll
bin/Debug/ja/Microsoft.Data.Edm.resources.dll
bin/Debug/ja/Microsoft.Data.OData.resources.dll
bin/Debug/ja/Microsoft.Data.Services.Client.resources.dll
bin/Debug/ja/System.Spatial.resources.dll
bin/Debug/ko/Microsoft.Data.Edm.resources.dll
bin/Debug/ko/Microsoft.Data.OData.resources.dll
bin/Debug/ko/Microsoft.Data.Services.Client.resources.dll
bin/Debug/ko/System.Spatial.resources.dll
bin/Debug/Microsoft.Azure.WebJobs.dll
bin/Debug/Microsoft.Azure.WebJobs.Host.dll
bin/Debug/Microsoft.Azure.WebJobs.Host.xml
bin/Debug/Microsoft.Azure.WebJobs.xml
bin/Debug/Microsoft.Data.Edm.dll
bin/Debug/Microsoft.Data.Edm.xml
bin/Debug/Microsoft.Data.OData.dll
bin/Debug/Microsoft.Data.OData.xml
bin/Debug/Microsoft.Data.Services.Client.dll
bin/Debug/Microsoft.Data.Services.Client.xml
bin/Debug/Microsoft.WindowsAzure.Configuration.dll
bin/Debug/Microsoft.WindowsAzure.Configuration.xml
bin/Debug/Microsoft.WindowsAzure.Storage.dll
bin/Debug/Microsoft.WindowsAzure.Storage.xml
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Resources.dll
bin/Debug/Resources.dll.config
bin/Debug/Resources.pdb
bin/Debug/ru/Microsoft.Data.Edm.resources.dll
bin/Debug/ru/Microsoft.Data.OData.resources.dll
bin/Debug/ru/Microsoft.Data.Services.Client.resources.dll
bin/Debug/ru/System.Spatial.resources.dll
bin/Debug/System.Spatial.dll
bin/Debug/System.Spatial.xml
bin/Debug/zh-Hans/Microsoft.Data.Edm.resources.dll
bin/Debug/zh-Hans/Microsoft.Data.OData.resources.dll
bin/Debug/zh-Hans/Microsoft.Data.Services.Client.resources.dll
bin/Debug/zh-Hans/System.Spatial.resources.dll
bin/Debug/zh-Hant/Microsoft.Data.Edm.resources.dll
bin/Debug/zh-Hant/Microsoft.Data.OData.resources.dll
bin/Debug/zh-Hant/Microsoft.Data.Services.Client.resources.dll
bin/Debug/zh-Hant/System.Spatial.resources.dll
Views/RightPanel/Report.resx
Views/Mails/Mail.resx
